html {
  font-family: "Roboto", sans-serif;
}

.logo,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Shrikhand", cursive;
}

h2 {
  @include font(1.4rem, 100);
}

.localisation {
  i {
    height: 1.4em;
  }
  p {
    @include font(1rem, 500);
  }
}

.info {
  p {
    @include font(1rem, 300);
  }
}

h3 {
  @include font(1.5rem, 400);
}
.fonctionnement_list_item p {
  @include font(1rem, 500);
}

.card_body_left-title {
  @include font(1.2rem, 100);
}
.card_body-lieu {
  @include font(1.2rem, 300);
}

.resto-name-title {
  @include font(2em, 200);
}

.entree_title .plats_title .dessert_title {
  @include font(1.7em, 100);
}
.entree_cards_card_left .plats_cards_card_left .dessert_cards_card_left {
  &-title {
    @include font(1em, 300);
  }
  &-description {
    @include font(1.1em, 300);
  }
}
