@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
@-webkit-keyframes translate-X {
  0% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes translate-X {
  0% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(0%);
  }
}
@-webkit-keyframes check-spinner {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes check-spinner {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes apparition-menu {
  0% {
    opacity: 0;
    transform: translateY(-400%);
  }
  95% {
    opacity: 1;
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes apparition-menu {
  0% {
    opacity: 0;
    transform: translateY(-400%);
  }
  95% {
    opacity: 1;
  }
  100% {
    transform: translateY(0%);
  }
}
@-webkit-keyframes opacity {
  0% {
    z-index: 1;
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes opacity {
  0% {
    z-index: 1;
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@-webkit-keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(360deg);
  }
  60% {
    transform: rotate(1800deg);
  }
  100% {
    transform: rotate(2200deg);
  }
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(360deg);
  }
  60% {
    transform: rotate(1800deg);
  }
  100% {
    transform: rotate(2200deg);
  }
}
a {
  text-decoration: none;
  color: black;
}

html {
  font-family: "Roboto", sans-serif;
}

.logo,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Shrikhand", cursive;
}

h2 {
  font-size: 1.4rem;
  font-weight: 100;
}

.localisation i {
  height: 1.4em;
}
.localisation p {
  font-size: 1rem;
  font-weight: 500;
}

.info p {
  font-size: 1rem;
  font-weight: 300;
}

h3 {
  font-size: 1.5rem;
  font-weight: 400;
}

.fonctionnement_list_item p {
  font-size: 1.2rem;
  font-weight: 500;
}

.card_body_left-title {
  font-size: 1.2rem;
  font-weight: 100;
}

.card_body-lieu {
  font-size: 1.2rem;
  font-weight: 300;
}

.resto-name-title {
  font-size: 2em;
  font-weight: 200;
}

.entree_title .plats_title .dessert_title {
  font-size: 1.7em;
  font-weight: 100;
}

.entree_cards_card_left .plats_cards_card_left .dessert_cards_card_left-title {
  font-size: 1em;
  font-weight: 300;
}
.entree_cards_card_left .plats_cards_card_left .dessert_cards_card_left-description {
  font-size: 1.1em;
  font-weight: 300;
}

.header {
  height: 15rem;
}
.header img {
  height: 17rem;
  width: 40rem;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
}

main {
  background-color: #f6f6f6;
  border-radius: 35px 35px 0 0;
  position: relative;
  margin-bottom: -2rem;
}

.resto-name {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  gap: 0;
  padding-top: 3rem;
  border-radius: 35px 35px 0 0;
}
.resto-name-hearts:hover .heart1 {
  opacity: 1;
  transition-duration: 0.5s;
}
.resto-name-hearts:hover .heart2 {
  opacity: 0;
  transition-duration: 0.2s;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: left;
  flex-direction: column;
  gap: 0;
}

.entree .carte-1,
.plats .carte-1,
.dessert .carte-1 {
  -webkit-animation: apparition-menu 0.6s 0.2 ease;
          animation: apparition-menu 0.6s 0.2 ease;
}
.entree .carte-2,
.plats .carte-2,
.dessert .carte-2 {
  -webkit-animation: apparition-menu 0.6s 0.4 ease;
          animation: apparition-menu 0.6s 0.4 ease;
}
.entree .carte-3,
.plats .carte-3,
.dessert .carte-3 {
  -webkit-animation: apparition-menu 0.6s 0.6 ease;
          animation: apparition-menu 0.6s 0.6 ease;
}
.entree .carte-4,
.plats .carte-4,
.dessert .carte-4 {
  -webkit-animation: apparition-menu 0.6s 0.8 ease;
          animation: apparition-menu 0.6s 0.8 ease;
}
.entree_title,
.plats_title,
.dessert_title {
  align-content: left;
  margin: 2rem 0 0 2rem;
  display: flex;
  flex-direction: column;
}
.entree_title::after,
.plats_title::after,
.dessert_title::after {
  content: "";
  width: 3.5rem;
  height: 4px;
  background-color: #99e2d0;
}
.entree_cards,
.plats_cards,
.dessert_cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  height: auto;
  padding: 1rem 0;
}
.entree_cards_card,
.plats_cards_card,
.dessert_cards_card {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: row;
  gap: 0;
  border-radius: 25px;
  width: 95%;
  height: 6rem;
  background-color: white;
  overflow: hidden;
  box-shadow: 0px 0px 5px 1px #6e6e6e;
}
.entree_cards_card_left,
.plats_cards_card_left,
.dessert_cards_card_left {
  display: flex;
  justify-content: left;
  align-items: left;
  flex-direction: column;
  gap: 0.5rem;
  height: 100%;
  margin-left: 1em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.entree_cards_card_left-title,
.plats_cards_card_left-title,
.dessert_cards_card_left-title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: 1rem;
}
.entree_cards_card_left-description,
.plats_cards_card_left-description,
.dessert_cards_card_left-description {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.entree_cards_card_right,
.plats_cards_card_right,
.dessert_cards_card_right {
  display: flex;
  width: 10rem;
  height: 100%;
  margin-right: -5rem;
}
.entree_cards_card_right:hover,
.plats_cards_card_right:hover,
.dessert_cards_card_right:hover {
  margin-right: 0;
  transition: 0.5s ease;
}
.entree_cards_card_right:hover span i,
.plats_cards_card_right:hover span i,
.dessert_cards_card_right:hover span i {
  -webkit-animation: check-spinner 1s ease-in-out;
          animation: check-spinner 1s ease-in-out;
}
.entree_cards_card_right-price,
.plats_cards_card_right-price,
.dessert_cards_card_right-price {
  padding-top: 4rem;
  width: 50%;
  border-radius: 0 25px 25px 0;
}
.entree_cards_card_right-span,
.plats_cards_card_right-span,
.dessert_cards_card_right-span {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0;
  border-radius: 0 25px 25px 0;
  width: 50%;
  height: 100%;
  background-color: #99e2d0;
}
.entree_cards_card_right-span i,
.plats_cards_card_right-span i,
.dessert_cards_card_right-span i {
  font-size: 1.8rem;
  color: white;
}

.carte::before {
  content: "";
}

.commander {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0;
  margin: 2rem 0;
}

body {
  max-width: 40rem;
  margin: 0 auto;
  position: relative;
}

.localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0;
  background-color: #eaeaea;
}
.localisation i {
  color: black !important;
}
.localisation p {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0;
  height: 3em;
  margin-left: 1em;
}

.info {
  background-color: #f6f6f6;
  height: 20rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}
.info h2 {
  margin: 1em 15% 0;
  text-align: center;
}
.info p {
  text-align: center;
  margin: 0 12%;
}

.fonctionnement {
  margin-top: 2em;
}
.fonctionnement h3 {
  margin-left: 1em;
  margin-top: 2em;
}
.fonctionnement_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 1.2rem;
  width: 100%;
  height: auto;
  margin: 1.5em 0 3em;
}
.fonctionnement_list_item {
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
  width: 90%;
  height: 5em;
  border-radius: 30px;
  position: relative;
}
.fonctionnement_list_item:hover {
  background-color: #e4d5f6;
}
.fonctionnement_list_item svg {
  height: 1.7em;
}
.fonctionnement_list_item:nth-child(1)::before {
  content: "1";
  position: absolute;
  left: 0;
  z-index: 1;
  color: white;
}
.fonctionnement_list_item:nth-child(1)::after {
  content: "";
  position: absolute;
  left: -0.7em;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background-color: #9356dc;
}
.fonctionnement_list_item:nth-child(2)::before {
  content: "2";
  position: absolute;
  left: 0;
  z-index: 1;
  color: white;
}
.fonctionnement_list_item:nth-child(2)::after {
  content: "";
  position: absolute;
  left: -0.7em;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background-color: #9356dc;
}
.fonctionnement_list_item:nth-child(3)::before {
  content: "3";
  position: absolute;
  left: 0;
  z-index: 1;
  color: white;
}
.fonctionnement_list_item:nth-child(3)::after {
  content: "";
  position: absolute;
  left: -0.7em;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background-color: #9356dc;
}

.principal_index {
  padding: 5rem 0;
  background-color: #f6f6f6;
}
.principal_index h3 {
  margin-left: 1em;
  padding-bottom: 2rem;
}

.container-restaurants {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}

.card {
  border-radius: 35px;
  width: 95%;
  height: auto;
  box-shadow: 0px 0px 5px 1px #6e6e6e;
}
.card_img {
  position: relative;
}
.card_img img {
  height: 14rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 35px 35px 0 0;
}
.card_img p {
  width: 6rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0;
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: #99e2d0;
  color: #008766;
}
.card_body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 0;
  background-color: white;
  border-radius: 0 0 35px 35px;
  padding-bottom: 1rem;
}
.card_body_left {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  gap: 0.5rem;
  margin-left: 2rem;
}
.card_body_left-title {
  padding-top: 1rem;
}
.card_body_right {
  margin-right: 2rem;
  position: relative;
}
.card_body_right:hover .heart1 {
  opacity: 1;
  transition-duration: 0.5s;
}
.card_body_right:hover .heart2 {
  transition-duration: 0.5s;
  opacity: 0;
}

nav {
  height: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0;
  position: relative;
  box-shadow: 0 -10px black;
}
nav img {
  height: 1.7em;
}
nav a {
  position: absolute;
  left: 0;
  margin-left: 5%;
}
nav a i {
  color: black !important;
}

.logo-footer {
  width: 8rem;
  height: 1.2rem;
  fill: white;
  margin-left: 1rem;
}

footer {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  gap: 2rem;
  background-color: #353535;
  padding: 4rem 0 2rem;
}
footer ul {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  gap: 0.5rem;
  margin-left: 1rem;
}
footer ul li {
  display: flex;
  justify-content: 0;
  align-items: left;
  flex-direction: row;
  gap: 0.5rem;
  color: white;
  margin-left: 1rem;
}
footer ul li i {
  color: white !important;
}
footer ul li a {
  color: white;
}

.fa-heart {
  font-size: 2rem;
}

.fa-solid {
  color: #9356dc;
}

.fa-regular {
  color: black;
}

.heart1 {
  position: absolute;
  opacity: 0;
  right: 1rem;
}

.heart2 {
  position: absolute;
  opacity: 1;
  right: 1rem;
}

button {
  font-size: 0.9rem;
  font-weight: 600;
  background-color: #9356dc;
  color: white;
  border-style: none;
  box-shadow: 0px 8px 12px 1px #6e6e6e;
  width: 55%;
  height: 3em;
  border-radius: 30px;
  margin-bottom: 2em;
}
button:hover {
  background-color: #ae80e5;
  box-shadow: 0px 0px 5px 3px #6e6e6e;
}

.explorer {
  width: 55%;
  height: 3em;
  border-radius: 30px;
  margin-bottom: 2em;
}

.loading {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0;
  background-color: white;
  -webkit-animation: opacity 0.1s 2.9s linear both;
          animation: opacity 0.1s 2.9s linear both;
}
.loading-spinner {
  width: 8rem;
  height: 8rem;
  border: 8px solid #9356dc;
  border-top-color: transparent;
  border-radius: 50%;
  -webkit-animation: spinner 3s ease-in-out forwards;
          animation: spinner 3s ease-in-out forwards;
}/*# sourceMappingURL=main.css.map */