body {
  max-width: 40rem;
  margin: 0 auto;
  position: relative;
}
.localisation {
  @include flex(center, center, row, 0);
  background-color: $dark-grey;
  i {
    color: black;
  }
  p {
    @include flex(center, center, row, 0);
    height: 3em;
    margin-left: 1em;
  }
}

.info {
  background-color: $light-grey;
  height: 20rem;
  @include flex(space-around, center, column, 1.5rem);

  h2 {
    margin: 1em 15% 0;
    text-align: center;
  }
  p {
    text-align: center;
    margin: 0 12%;
  }
}

.fonctionnement {
  margin-top: 2em;
  h3 {
    margin-left: 1em;
    margin-top: 2em;
  }
  &_list {
    @include flex(space-between, center, column, 1.2rem);
    @include size(100%, auto);
    margin: 1.5em 0 3em;
    &_item {
      background-color: $light-grey;
      @include flex(center, center, row, 5%);
      @include size(90%, 5em);
      border-radius: 30px;
      position: relative;
      &:hover {
        background-color: lighten($color: $primary, $amount: 30);
        transition: 0.3s;
        svg {
          height: 1.7em;
          fill: $primary;
        }
      }
      svg {
        height: 1.7em;
        fill: $darker-grey;
      }

      @for $i from 1 to 4 {
        &:nth-child(#{$i})::before {
          content: "#{$i}";
          position: absolute;
          left: 0;
          z-index: 1;
          color: white;
        }
        &:nth-child(#{$i})::after {
          content: "";
          position: absolute;
          left: -0.7em;
          @include size(2em, 2em);
          border-radius: 50%;
          background-color: $primary;
        }
      }
    }
  }
}

.principal_index {
  padding: 5rem 0;
  background-color: $light-grey;
  h3 {
    margin-left: 1em;
    padding-bottom: 2rem;
  }
}

.container-restaurants {
  @include flex(center, center, column, 4rem);
  margin: 1rem;
}

.card {
  border-radius: 35px;
  @include size(95%, auto);
  box-shadow: 0px 0px 5px 1px #6e6e6e;

  &_img {
    position: relative;

    img {
      height: 14rem;
      width: 100%;
      object-fit: cover;
      border-radius: 35px 35px 0 0;
    }
    p {
      @include size(6rem, 2rem);
      @include flex(center, center, row, 0);
      position: absolute;
      right: 20px;
      top: 20px;
      background-color: $green;
      color: $color-new;
    }
  }
  &_body {
    @include flex(space-between, center, row, 0);
    background-color: white;
    border-radius: 0 0 35px 35px;
    padding-bottom: 1rem;

    &_left {
      @include flex(center, flex-start, column, 0.5rem);
      margin-left: 2rem;

      &-title {
        padding-top: 1rem;
      }
    }
    &_right {
      margin-right: 1rem;
      position: relative;

      // &:hover {
      //   .heart1 {
      //     opacity: 1;
      //     transition-duration: 0.5s;
      //   }
      //   .heart2 {
      //     transition-duration: 0.5s;
      //     opacity: 0;
      //   }
      // }
    }
  }
}
// #toggle {
//   position: absolute;
//   display: none;
//   input {
//     @include size(0.5rem, 0.5rem);
//     right: 1rem;
//     appearance: none;
//   }
// }
// #toggle:checked ~ .heart1 {
//   opacity: 1;
// }
// #toggle:checked ~ .heart2 {
//   opacity: 0;
// }
#body-index {
  label {
    position: absolute;
    width: 2rem;
    height: 2rem;
    opacity: 1;
    right: 1rem;
    z-index: 1;
    top: -1rem;
  }
  @for $i from 1 to 5 {
    #toggle-#{$i} {
      position: absolute;
      display: none;
      input {
        @include size(0.5rem, 0.5rem);
        right: 1rem;
        appearance: none;
      }
    }
    #toggle-#{$i}:checked ~ .heart1 {
      opacity: 1;
      transition: 0.3s;
    }
    #toggle-#{$i}:checked ~ .heart2 {
      opacity: 0;
      transition: 0.3s;
    }
  }
}
