@import "../utils/variables";
@import "../base/typography";
@import "../layout/nav";
@import "../components/heart";
@import "../layout/footer";
@import "../utils/keyframes";

.header {
  height: 15rem;

  img {
    height: 17rem;
    width: 40rem;
    object-fit: cover;
    position: absolute;
  }
}
main {
  background-color: $light-grey;
  border-radius: 35px 35px 0 0;
  position: relative;
  margin-bottom: -2rem;
}

.resto-name {
  @include flex(space-around, center, row, 0);

  padding-top: 3rem;
  border-radius: 35px 35px 0 0;
  &-hearts:hover {
    .heart1 {
      display: block;
    }
    .heart2 {
      display: none;
    }
  }
}

.menu {
  @include flex(space-between, left, column, 0);
}

.entree,
.plats,
.dessert {
  @for $i from 1 to 5 {
    .carte-#{$i} {
      animation: apparition-menu 0.6s $i * 0.2 ease;
    }
  }
  &_title {
    align-content: left;
    margin: 2rem 0 0 2rem;
    display: flex;
    flex-direction: column;
    &::after {
      content: "";
      @include size(3.5rem, 4px);
      background-color: $green;
    }
  }
  &_cards {
    @include flex(space-between, center, column, 2rem);
    height: auto;
    padding: 1rem 0;
    &_card {
      @include flex(space-between, flex-end, row, 0);
      border-radius: 25px;
      @include size(95%, 6rem);
      background-color: white;
      overflow: hidden;
      box-shadow: 0px 0px 5px 1px #6e6e6e;
      &_left {
        @include flex(left, left, column, 0.5rem);
        height: 100%;
        margin-left: 1em;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

        &-title {
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          margin-top: 1rem;
        }
        &-description {
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
      &_right {
        display: flex;
        width: 10rem;
        height: 100%;
        margin-right: -5rem;
        &:hover {
          margin-right: 0;
          transition: 0.5s ease;
          & span i {
            animation: check-spinner 1s ease-in-out;
          }
        }
        &-price {
          padding-top: 4rem;
          width: 50%;
          border-radius: 0 25px 25px 0;
        }
        &-span {
          @extend %flex;
          border-radius: 0 25px 25px 0;
          @include size(50%, 100%);
          background-color: $green;
          i {
            font-size: 1.8rem;
            color: white;
          }
        }
      }
    }
  }
}

.carte::before {
  content: "";
}

.commander {
  @include flex(center, center, row, 0);
  margin: 2rem 0;
}
