@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
footer {
  border: black solid 1px;
}

.localisation p, nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  max-width: 40rem;
  margin: 0 auto;
}

footer {
  border: black solid 1px;
}

.localisation p, nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  height: 4em;
  box-shadow: 0 -10px black;
}
nav img {
  height: 1.7em;
}

footer {
  border: black solid 1px;
}

.localisation p, nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-footer {
  width: 8rem;
  height: 1.2rem;
  background-color: white;
}

footer {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  gap: 2rem;
  background-color: #353535;
  padding: 2rem 0;
}
footer ul {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  gap: 0.5rem;
}
footer ul li {
  display: flex;
  justify-content: 0;
  align-items: left;
  flex-direction: row;
  gap: 0.5rem;
  color: white;
  margin-left: 1rem;
}
footer ul li a {
  color: white;
}

.localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0;
  background-color: #eaeaea;
}
.localisation p {
  height: 3em;
  margin-left: 1em;
}

.info {
  background-color: #f6f6f6;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}
.info h2 {
  margin: 1em 15% 0;
  text-align: center;
}
.info p {
  text-align: center;
  margin: 0 12%;
}

.fonctionnement {
  margin-top: 2em;
}
.fonctionnement h3 {
  margin-left: 1em;
  margin-top: 2em;
}
.fonctionnement_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 1.2rem;
  width: 100%;
  height: auto;
  margin: 1.5em 0 3em;
}
.fonctionnement_list_item {
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
  width: 90%;
  height: 5em;
  border-radius: 30px;
  position: relative;
}
.fonctionnement_list_item svg {
  height: 1.7em;
  color: red;
}
.fonctionnement_list_item:nth-child(1)::before {
  content: "1";
  position: absolute;
  left: 0;
  z-index: 1;
  color: white;
}
.fonctionnement_list_item:nth-child(1)::after {
  content: "";
  position: absolute;
  left: -0.7em;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background-color: #9356dc;
}
.fonctionnement_list_item:nth-child(2)::before {
  content: "2";
  position: absolute;
  left: 0;
  z-index: 1;
  color: white;
}
.fonctionnement_list_item:nth-child(2)::after {
  content: "";
  position: absolute;
  left: -0.7em;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background-color: #9356dc;
}
.fonctionnement_list_item:nth-child(3)::before {
  content: "3";
  position: absolute;
  left: 0;
  z-index: 1;
  color: white;
}
.fonctionnement_list_item:nth-child(3)::after {
  content: "";
  position: absolute;
  left: -0.7em;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background-color: #9356dc;
}

main {
  padding: 5rem 0;
  background-color: #f6f6f6;
}
main h3 {
  margin-left: 1em;
  padding-bottom: 2rem;
}

.container-restaurants {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5rem;
}

.card {
  border-radius: 35px;
  width: 95%;
  height: 15rem;
}
.card img {
  height: 14rem;
  width: 100%;
  object-fit: cover;
  border-radius: 35px 35px 0 0;
}
.card_body {
  height: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 0;
  background-color: white;
  border-radius: 0 0 35px 35px;
}
.card_body_left {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  gap: 0.5rem;
  margin-left: 2rem;
  height: 100%;
}
.card_body_right {
  margin-right: 2rem;
}

a {
  text-decoration: none;
  color: black;
}

button {
  font-size: 0.9rem;
  font-weight: 600;
  background-color: #9356dc;
  color: white;
  border-style: none;
  box-shadow: 0px 8px 12px 1px #6e6e6e;
}

.explorer {
  width: 55%;
  height: 3em;
  border-radius: 30px;
  margin-bottom: 2em;
}

html {
  font-family: "Roboto", sans-serif;
}

.logo,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Shrikhand", cursive;
}

h2 {
  font-size: 1.2rem;
  font-weight: 100;
}

.localisation i {
  height: 1.4em;
}
.localisation p {
  font-size: 1rem;
  font-weight: 500;
}

.info p {
  font-size: 1rem;
  font-weight: 300;
}

h3 {
  font-size: 1.5rem;
  font-weight: 400;
}

.fonctionnement_list_item p {
  font-size: 1.2rem;
  font-weight: 500;
}

.card_body_left-title {
  font-size: 1.2rem;
  font-weight: 100;
}

.card_body-lieu {
  font-size: 1.2rem;
  font-weight: 300;
}

/*# sourceMappingURL=style.css.map */
