.fa-heart {
  font-size: 2rem;
}

.fa-solid {
  color: $primary;
}
.fa-regular {
  color: black;
}
.heart1 {
  position: absolute;
  opacity: 0;
  right: 1rem;
}
.heart2 {
  position: absolute;
  opacity: 1;
  right: 1rem;
}
