.fa-heart {
  font-size: 2rem;
  height: 2rem;
  width: 2rem;
}

.fa-solid {
  fill: url(#gradient);
}
.fa-regular {
  color: black;
}
.heart1 {
  position: absolute;
  opacity: 0;
  right: 1rem;
  top: -1rem;
}
.heart2 {
  position: absolute;
  opacity: 1;
  right: 1rem;
  top: -1rem;
}
.heart-menu-1 {
  position: absolute;
  opacity: 0;
  right: 2rem;
  top: 3.5rem;
}
.heart-menu-2 {
  position: absolute;
  opacity: 1;
  right: 2rem;
  top: 3.5rem;
}
