.logo-footer {
  @include size(8rem, 1.2rem);
  filter: invert(100%);
  margin-left: 1rem;
}
footer {
  @include flex(center, left, column, 2rem);
  background-color: $bg-footer;
  padding: 4rem 0 2rem;
  ul {
    @include flex(center, left, column, 0.5rem);
    margin-left: 1rem;
    li {
      @include flex(0, left, row, 0.5rem);
      color: white;
      margin-left: 1rem;
      .fa-utensils,
      .fa-handshake-angle {
        color: white;
      }
      a {
        color: white;
      }
    }
  }
}
.body_menu {
  footer {
    padding-top: 2rem;
  }
}
