.logo-footer {
  @include size(8rem, 1.2rem);
  fill: white;
  margin-left: 1rem;
}
footer {
  @include flex(center, left, column, 2rem);
  background-color: $bg-footer;

  padding: 4rem 0 2rem;

  ul {
    @include flex(center, left, column, 0.5rem);
    margin-left: 1rem;
    li {
      @include flex(0, left, row, 0.5rem);
      color: white;
      margin-left: 1rem;
      i {
        color: white !important;
      }
      a {
        color: white;
      }
    }
  }
}
