nav {
  height: 4em;
  @include flex(center, center, row, 0);
  position: relative;
  box-shadow: 0 -10px black;

  img {
    height: 1.7em;
  }
  a {
    position: absolute;
    left: 0;
    margin-left: 5%;
    i {
      color: black !important;
    }
  }
}
